p {
    border-style: solid;
    border-color: black;
    color: rgba(0, 0, 0, 0.788);
    background: gold 10px 10px repeat-x fixed;
    /* text-shadow: 1px 1px 1px rgb(0, 0, 0); */
    width: calc(1280px - 30%);
    font-size: 5em;
    font-family: 'introrustg-base2line';
    text-align: center;
    padding: 10px 15px 15px 5px;
}

body { background-color: rgba(0, 0, 0, 0);
     margin: 0px auto; 
     overflow: hidden; 
    }

h1 {
    color: black;
    margin-left: 1em;
    font-size: 5em;
    background-color: black;
    background-blend-mode: soft-light;
    border: solid;
    font-family: 'introrustg-base2line';
}

h2 {
    color: black;
    margin-left: 1em;
    font-size: 3.5em;
    background-color: gold;
    border: solid;
    font-family: 'introrustg-base2line';
}


h3 {
    color: black;
    margin-left: 1em;
    font-size: 5em;
    background-color: white;
    border: solid;
    font-family: 'introrustg-base2line';
}



h4 {
    color: black;
    margin-left: 1em;
    font-size: 3.5em;
    background-color: gold;
    border: solid;
    font-family: 'Metal Mania', cursive;
}

#MyRect {
    fill: red;
    stroke: rgb(0, 0, 0);
  }


/* #title {
    color: rgb(0,255,0);
    stroke: black;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    outline-color: black;
    /* width: 1280px; */
    width: calc(1280px - 30%);
    font-size: 5em;
    /* background-color: gold; */
    background: gold 10px 10px repeat-x fixed;
    border: solid;
    font-family: 'introrustg-base2line';
    text-align: center;
    /* background-blend-mode: difference; */
    text-shadow: 1px 1px 1px peru;
    padding: 10px 15px 15px 5px;
} */

#justone {
    border-color: red;
  }
  
  #horzvert {
    border-color: gold red;
  }
  
  #topvertbott {
    border-color: red cyan gold;
  }
  
  #trbl {
    border-color: red cyan black gold;
  }
  
  /* Set width and style for all divs */
  div {
    border: solid 0.3em;
    width: auto;
    margin: 0.5em;
    padding: 0.5em;
  }
  
  ul {
    margin: 0;
    list-style: none;
  }
  